#chado_search-filter-tripal_megasearch-datatype {
	float: none;
}
#chado_search-id-datatype {
	margin-right: 20px;
}
#chado_search-filter-tripal_megasearch-data_filters-field label {
	margin-top:5px;
	width: 160px;
	float: left;
}
#chado_search-filter-tripal_megasearch-data_filters-field select {
	float: left;
	margin-left: 0px;
	width: auto;
}
#chado_search-filter-tripal_megasearch-data_filters-field input {
	float: left;
}

#chado_search-filter-tripal_megasearch-data_attributes-field {
	float:left;
	margin-right: 6px;
}
#chado_search-tripal_megasearch-submit-submit {
	clear:none;
	margin-top: 15px;
}
#chado_search-tripal_megasearch-reset-reset {
	clear: left;
}
#chado_search-tripal_megasearch-button-conditions_add, #chado_search-tripal_megasearch-button-conditions_remove {
	margin-right: 10px;
}
#chado_search-filter-tripal_megasearch-conditions {
	margin-right: 0px;
}
#chado_search-filter-tripal_megasearch-conditions .chado_search-widget {
	margin-right: 15px;
}
.chado_search-repeatable_text-tripal_megasearch-operator {
	width: 100px !important;
}
#tripal_megasearch-table-download {
	margin: 0px 20px;
}
form[id^='tripal-megasearch-form'] .form-item {
	margin-top: 8px;
	margin-bottom: 8px;
}
#chado_search-tripal_megasearch-submit-submit {
	float: right;
	margin-top: 8px;
	margin-bottom: 8px;
	margin-right: 0px;
}
#chado_search-tripal_megasearch-button-view_results {
	float: right;
	margin-top: 8px;
	margin-bottom: 8px;
	margin-left: 0px;
	margin-right: 8px;
}
#chado_search-tripal_megasearch-button-apply_filters, #chado_search-tripal_megasearch-button-fasta_file {
	float:right;
	margin-top: 8px;
	margin-bottom: 8px;
	margin-right: 0px;
}
#chado_search-tripal_megasearch-button-clear-all-values {
	float:right;
	margin-top: 8px;
	margin-bottom: 8px;
	margin-right: 8px;
}
#chado_search-tripal_megasearch-button-fasta_file {
	margin-right: 8px;
}
#chado_search-filter-tripal_megasearch-data_filters-field {
	width: 810px;
	margin-right: 15px;
}
#chado_search-filter-tripal_megasearch-data_filters-field details {
	width: 100%;
}
#chado_search-filter-tripal_megasearch-data_attributes-field {
	width: 300px;
}
#chado_search-filter-tripal_megasearch-data_attributes-field details {
	width: 100%;
}
#chado_search-tripal_megasearch-reset-tripal_megasearch_reset {
	margin-top: 8px;
}
.tripal_megasearch-info {
	padding: 5px 10px;
	border: 1px solid #CCC;
	background-color: #6A5;
	color: #EEE;
}
#chado_search-tripal_megasearch-markup-results {
	width: 100%;
}
#chado_search-tripal_megasearch-button-tsv-download {
	float: right;
	margin: 8px;
}
#chado_search-filter-tripal_megasearch-marker_organism {
  margin-top: 15px;
}
.chado_search-fieldset {
	width: 98%;
}

#chado_search-tripal_megasearch-gene_sequence_retrieval-widget fieldset legend {
  float: right;
}
#chado_search-tripal_megasearch-gene_sequence_retrieval-downstream {
  margin-left: 10px;
}
#tripal_megasearch_sequence_retrieval_button {
	display:block;
	clear: both;
}

#chado_search-tripal_megasearch-button-tsv-download {
  margin-right: 0px;
}

#tripal-megasearch-form .ajax-progress, #tripal-megasearch-form ajax-progress-throbber {
display: none;
}

.chado_search-tripal_megasearch-checkboxes label {
  width: 100% !important;
}